# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @escapee-86 @sohnshaik @alexanderan187 @theoneandonlyr3n @stevehagino will be requested for
# review when someone opens a pull request.
* @escapee-86 @sohnshaik @alexanderan187 @theoneandonlyr3n @stevehagino
